@import "../abstracts/mixin";
@import "../abstracts/typography";
@import "../abstracts/variables";

header {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 35px;
  height: 700px;
  font-family: $poppins;
  @include layout;
  span.circle {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -6px;
    left: -15px;
    background: $theme-pink;
    opacity: 0.6;
    border-radius: 50px;
    z-index: 0;
  }
  a {
    @include gradient;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      @include gradient-none;
      color: $theme-violet;
    }
  }

  .main-header {
    &__inner {
      margin-top: 0px;
      display: flex;
      height: fit-content;
    }
    &__inner-container {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 800px;
      nav {
        ul {
          display: flex;
          list-style: none;
          li {
            a {
              color: $theme-violet;
              text-decoration: none;
              margin-right: 45px;
            }
          }
        }
      }
      .contact-container {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 99;
        &:after {
          @include pseudo;
          background: url();
          width: 50px;
          height: 100px;
          right: -50px;
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &__link {
          position: relative !important;
          z-index: 0;
        }
      }
    }
  }
  .main-header__main-content-container {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
    position: relative;
    .main-header__social-links {
      position: absolute;
      list-style: none;
      left: -10%;
      top: 25%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      li {
        &:nth-child(1) {
          img {
            width: 70px;
            display: block;
          }
        }
        &:nth-child(2) {
          img {
            width: 40px;
            display: block;
          }
        }
      }
    }

    .main-header {
      &__text-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        & > div {
          width: 80%;
        }
        .about-me-trigger {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 35px;
          max-width: 250px;
          img {
            max-width: 70px;
          }
          .about-me-container {
            position: relative;

            .about-me__link {
              position: relative;
              height: 20px;
              display: flex;
              align-items: center;
              z-index: 99;

              span {
                margin-left: 5px;
              }
            }
          }
        }
      }
      &__img-bg-holder {
      }
    }
  }
  .contact-container__link {
    font-size: 25px;
  }
}
