@import "../../abstracts/mixin";

@include screen($min: 0, $max: 600) {
  body div.history-section {
    div#history {
      padding-left: 15px;

      & > div {
        align-items: start;
        padding-right: 22px;
      }
      div.year-container {
        width: 26vw;
        height: 26vw;
        max-width: 100px;
        max-height: 100px;

        margin-top: 45px;
        span {
          font-size: 18px;
        }
      }
      div.content-item {
        padding-top: 15px;
        .inner-column-1 {
          max-width: 250px;
          width: 100%;
          padding-left: 5px;
          margin-bottom: 20px;
        }
        .inner-column-2 {
          padding-left: 5px;
          img {
            width: 100px;
            height: 100px;
            min-height: auto;
          }
        }
      }
    }
  }
}
@include screen($min: 0, $max: 750) {
  body div.history-section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 25%;
    div#history {
      div.content-item {
        flex-direction: column;
        padding-top: 50px;
        .inner-column-1 {
          width: 75%;
          margin-bottom: 20px;
        }
        img {
          width: 100px;
          height: 100px;
          min-height: auto;
        }
      }
    }
  }
}
@include screen($min: 0, $max: 400) {
  body div.history-section {
    margin-top: 35%;
    .history-list::before {
      top: -2%;
    }
  }
}
