@import "../../abstracts/mixin";

@include screen($min: 0, $max: 600) {
  .protfolio-section {
    
    .card-list-container {
      .card-item {
        .back {
          h3 {
            margin-bottom: 0px;
            margin-top: 40px;
            font-size: 3.2rem;
          }
        }
      }
    }
  }
}
