footer.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  flex-wrap: wrap;
  height: 200px;

  max-width: 1700px;
  margin: 50px auto;

  &::before {
    content: "";
    background: url(../images/bg-image.webp);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: 100% 100%;

    height: 300px;
    opacity: 0.2;

    bottom: -100px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  a {
    @include gradient;
    text-decoration: none;
    cursor: pointer;
  }
  & > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .column-2 {
    display: flex;
    justify-content: end;

    .main-header__social-links {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      .socials-wrap {
        display: flex;
        a {
          flex-basis: 50%;
          display: flex;
          justify-content: start;
          align-items: center;
          &:nth-child(2) {
            img {
              width: 45px;
            }
          }
        }
      }
      .footer-phone,
      .footer-mail {
        padding-left: 13%;
      }
    }
  }
}
