.history-section {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;

  flex-wrap: wrap;
  .history-list {
    display: block;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 3px;
      height: 100%;
      left: 35%;
      top: -5%;
      background: linear-gradient(
        135deg,
        rgb(239, 54, 108) 0%,
        rgb(132, 95, 254) 20%,
        rgb(37, 208, 253) 61%,
        rgb(198, 38, 215) 88%
      );
    }
    & > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-bottom: 35px;
      &:nth-child(2n) {
        &::before {
          width: 20%;
          right: 60%;
        }
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 80%;
        top: 0;
        right: 0;
        background: linear-gradient(
          135deg,
          rgb(239, 54, 108) 0%,
          rgb(132, 95, 254) 20%,
          rgb(37, 208, 253) 61%,
          rgb(198, 38, 215) 88%
        );
      }
      & > div.year-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        background: rgba(237, 53, 113, 0.6);
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 10%;
        span {
          font-size: 25px;
        }
      }
      .content-item {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .inner-column-1 {
          margin-top: 35px;
          width: 50%;
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 1.5;
        }
        img {
          max-width: 200px;
          height: auto;
          min-height: 200px;
          object-fit: cover;
        }
      }
    }
  }
}
