<footer class="footer-container">
  <div class="column-1">
    <img width="100" heihgt="100" src="./images/my-logo.svg" alt="" />
  </div>
  <div class="column-2">
    <div class="main-header__social-links">
      <div class="socials-wrap">
        <a href="https://www.linkedin.com/in/daria-hordykova"  target="_blank"
          ><img src="./images/my-linkedin.svg" alt=""
        /></a>
        <a href="https://t.me/dhordyko"  target="_blank"
        ><img src="./images/my-telegram.svg" alt=""
      /></a>
      </div>
     
      <div class="footer-phone"><a href="tel:4315543067">431 554 30 67</a></div>
      <div class="footer-mail"><a href="mailto:dhordykojob@gmail.com">dhordykojob@gmail.com </a></div>
    </div>
  </div>

</footer>
