<header class="main-header">
  <div class="main-header__inner">
    <div class="logo-container">
      <img width="100" heihgt="100" src="./images/my-logo.svg" alt="" />
    </div>
    <div class="main-header__inner-container">
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li><a href="#home">Home</a></li>
          <li><a href="#about_me">About Me</a></li>
          <li><a href="#protfolio-section">Portfolio</a></li>
          <li style="margin-bottom:10px;"><span><img width="23px" src="./images/phone-icon.svg" alt="phone"></span><a href="tel:4315543067">4315543067</a></li>
          <li><span><img width="23px" src="./images/envelope-icon.svg" alt="mail"></span><a href="mail:4315543067">dhordykojob@gmail.com</a></li>
        </ul>
      </nav>
    
    </div>
    <div class="contact-outer-container">
      <div class="contact-container">
        <span class="circle"></span>
        <a class="contact-container__link" href="./CV-Daria_Khordykova-CA.pdf" download>CV</a>
      </div>
      <a href="#" class="toggle-btn">
        <span></span>
      </a>
    </div>

  </div>
  <div id="home"  class="main-header__main-content-container">
    <ul class="main-header__social-links">
      <li>
        <a href="https://www.linkedin.com/in/daria-hordykova"
        target="_blank"><img src="./images/my-linkedin.svg" alt=""
        /></a>
      </li>
      <li>
        <a href="https://t.me/dhordyko"  target="_blank"
          ><img src="./images/my-telegram.svg" alt=""
        /></a>
      </li>
      <li><a href=""></a></li>
    </ul>
    <div id="about_me" class="main-header__text-holder">
      <div>
        <p class="highlight">Hey There</p>
        <h1>
          I'm <span class="highlight">Daria Khorydkova</span><br>Web Developer
        </h1>
        <p>
          Experienced <b>WordPress developer</b> skilled in creation of <b>custom themes for large scale web sites</b>.  Well proficient in using WordPress CSM hooks and filters, custom post type, taxonomies.
           Enabling to add custom functionality to the classic WordPress editor by developing custom blocks.
            Know how to work with WooCommerce and customize it according to design requirements.  
            Well skilled in responsive view adaptation.
        </p>
        <div class="about-me-trigger">
          <img width="100" src="./images/my-icon.svg" alt="" />
          <div class="about-me-container">
            <div>
            <span class="circle"></span>
            <a class="about-me__link" href=""
              >About Mee45688888889999<span style="font-size: 25px">&#187;</span></a
            >
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-header__img-bg-holder">
      <img src="./images/main-banner.webp" alt="" />
    </div>
  </div>
</header>
