<div id="history" class="history-list">
  <div>
    <div class="year-container"><span>2022</span></div>
    <div class="content-item">
      <div class="inner-column-1">
       This year I came to Canada . In a month time after my arrival I was able to get back to work as WordPress developer in Relish Marketing Agency . Despite the fact that I was completely new to Canada , thanks to my good English proficiency and tremendous support of my colleagues in Relish I was able to adapt very quickly to work and I have been working on large scale web sites for different social and government organizations;
      </div>
      <div class="inner-column-2">
       <a target="_blank" href="https://relishideas.ca/"> <img src="./images/relish-logo.webp" alt="" /></a>
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2020</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        After graduation I found my first job as WordPress Developer in a marketing agency where I was involved in developing web sites using WordPress CMS and WooCommerce . 
      </div>
      <div class="inner-column-2">
        <a target="_blank" href="https://koalamarketing.pl/"><img src="./images/koala-logo.webp" alt="" /></a>
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2016</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        I had decided to change my proficiency and try to get foreign education. Therefore I came to Poland to enter Polish University of Management and Information Technologies where I finished Computer Science program and started my journey in IT industry. 
      </div>
      <div class="inner-column-2">
       <a target="_blank" href="https://wsiz.edu.pl/"><img src="./images/wsiz.webp" alt="" /></a> 
      </div>
    </div>
  </div>

  
</div>
