<div id="history" class="history-list">
  <div>
    <div class="year-container"><span>2022</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="./images/relish-logo.webp" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2021</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="./images/koala-logo.webp" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2020</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="./images/wsiz.webp" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2016</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2008</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="./images/dhl-logo.webp" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="year-container"><span>2004</span></div>
    <div class="content-item">
      <div class="inner-column-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur ante ac metus gravida, id tristique urna varius. Nullam vel
        justo pretium, pharetra nisi nec, ultricies lorem. Aliquam sagittis
        commodo tellus, a luctus eros varius at.
      </div>
      <div class="inner-column-2">
        <img src="./images/nau-logo.webp" alt="" />
      </div>
    </div>
  </div>
</div>
