<div class="tech-stack">
  <div class="about-me-trigger">
    <img width="100" src="./images/my-icon.svg" alt="" />
    <div class="about-me-container">
      <div>
        <span style="display: none" class="circle"></span>
        <a style="display: none" class="about-me__link" href="" target="_blank"
          ><span style="font-size: 25px">&#187;</span></a
        >
      </div>
    </div>
  </div>
  <div class="tech-list">
    <p>
      <span
        >WordPress (Core, Custom Theme Development, Gutenberg Customization,
        ACF, REST API, Multi-Site, Multi-Language)
      </span>
      | <span>Custom Post Types & Taxonomies</span> |
      <span>Gutenberg Custom Blocks</span> | <span>HTML</span> |
      <span>CSS (SCSS/Sass, Flexbox, CSS Grid, Bootstrap)</span> |
      <span>JavaScript (ES6+)</span> | <span>PHP</span> |
      <span>Responsive Design</span> | <span>Cross-Browser QA</span> |
      <span>Web Accessibility (WCAG 2.1+)</span> |
      <span
        >Performance Optimization (lazy loading, minification, render-blocking
        fixes)</span
      >
      | <span>Git/GitHub Workflows</span> |
      <span>Third-Party Integrations (e.g. CRMs, APIs)</span> |
      <span>Figma</span> | <span>Adobe Creative Suite</span> |
      <span>AI tools (GitHub Copilot, ChatGPT)</span> |
      <span>Prompt Engineering Skills</span> |
      <span>CI/CD pipelines</span>
    </p>
  </div>
</div>

<h1><span class="highlight">Portfolio</span></h1>
