<header class="main-header">
  <div class="main-header__inner">
    <div class="logo-container">
      <img width="100" heihgt="100" src="./images/my-logo.svg" alt="" />
    </div>
    <div class="main-header__inner-container">
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li><a href="#home">Home</a></li>
          <li><a href="#about_me">About Me</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div class="contact-container">
        <span class="circle"></span>
        <a class="contact-container__link" href="">CV</a>
      </div>
    </div>
  </div>
  <div id="home"  class="main-header__main-content-container">
    <ul class="main-header__social-links">
      <li>
        <a href="https://www.linkedin.com/in/daria-hordykova"
        target="_blank"><img src="./images/my-linkedin.svg" alt=""
        /></a>
      </li>
      <li>
        <a href="https://t.me/dhordyko"  target="_blank"
          ><img src="./images/my-telegram.svg" alt=""
        /></a>
      </li>
      <li><a href=""></a></li>
    </ul>
    <div id="about_me" class="main-header__text-holder">
      <div>
        <p class="highlight">Hey There</p>
        <h1>
          I'm <span class="highlight">Daria Khorydkova</span><br>Web Developer
        </h1>
        <p>
          lremipsumlremipsu mlremipsumlrem ipsumlrem ipsumlremipsu
          mlremipsumlremipsum
        </p>
        <div class="about-me-trigger">
          <img width="100" src="./images/my-icon.svg" alt="" />
          <div class="about-me-container">
            <span class="circle"></span>
            <a class="about-me__link" href=""
              >About Me<span style="font-size: 25px">&#187;</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="main-header__img-bg-holder">
      <img src="./images/main-banner.webp" alt="" />
    </div>
  </div>
</header>
